<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.matboda.dao.BoardDAO">
	<select id="selectBoardList" resultType="kr.green.matboda.vo.BoardVO">
		select * from board
			order by bo_num desc
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectBoard" resultType="kr.green.matboda.vo.BoardVO">
		select * from board where bo_num = #{num}
	</select>
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="board.bo_num" parameterType="kr.green.matboda.vo.BoardVO">
		insert into board(bo_title, bo_content, bo_me_id)
			values(#{board.bo_title}, #{board.bo_content}, #{board.bo_me_id});
	</insert>
	<select id="selectTotalCount" resultType="int">
		select count(*) from board
	</select>
	<update id="updateBoard">
		update board set
			bo_title = #{bo_title},
			bo_content = #{bo_content}
			where bo_num = #{bo_num}
	</update>
	<delete id="deleteBoard">
		delete from board where bo_num = #{num}
	</delete>
	<delete id="deleteReplyBoard">
		delete from board where bo_num = #{num}
	</delete>
	<insert id="insertImage">
		insert into image(im_type, im_where, im_name, im_oriName)
			values(#{im_type}, #{im_where}, #{im_name}, #{im_oriName})
	</insert>
	<update id="updateViews">
		update board set
			bo_views = bo_views+1
			where bo_num = #{bo_num}
	</update>
	<select id="selectFileList" resultType="kr.green.matboda.vo.ImageVO">
		select * from image 
			where im_where = #{num}
	</select>
	<delete id="deleteFile">
		delete from image where im_num = #{im_num}
	</delete>
</mapper>
