<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.matboda.dao.RestaurantDAO">
 	<insert id="insertRt">
 		insert into restaurant(rt_name, rt_address, rt_phoneNum, rt_type, rt_openTime, rt_me_id)
 			values(#{rt_name}, #{rt_address}, #{rt_phoneNum}, #{rt_type}, #{rt_openTime}, #{rt_me_id})
 	</insert>
 	<select id="selectRt" resultType="kr.green.matboda.vo.RestaurantVO">
 		select * from restaurant 
 			where rt_num = #{num}
 	</select>
 	<update id="updateRt">
 		update restaurant set
 			rt_name = #{rt_name},
 			rt_address = #{rt_address},
 			rt_phoneNum =  #{rt_phoneNum},
 			rt_type = #{rt_type},
 			rt_openTime = #{rt_openTime},
 			rt_upDate = #{rt_upDate},
 			rt_view = #{rt_view},
 			rt_reNum = #{rt_reNum},
 			rt_faNum = #{rt_faNum}
 			where rt_num = #{rt_num}
 	</update>
 	<select id="selectRestaurant" resultType="kr.green.matboda.vo.RestaurantVO">
 		select restaurant.*, im_name as rt_im_name from restaurant
			left join review on rt_num = re_rt_num 
			left join (select * from image where im_type = 'REVIEW' group by im_where) as t on re_num = im_where
			where im_name is not null
			group by re_rt_num
			order by rt_reNum desc, rt_score desc, rt_view desc
			limit 3
 	</select>
	<delete id="deleteRt">
 		delete from restaurant
 			where rt_num = #{num}
 	</delete>
 	<update id="updateSc">
 		update restaurant set rt_score = (select round(avg(re_totalSc),1) from review where re_rt_num = rt_num) where rt_num = #{re_rt_num} ;
 	</update>
 	<select id="selectSearchRestaurant" resultType="kr.green.matboda.vo.RestaurantVO">
 		select restaurant.*, im_name as rt_im_name  from restaurant 
			left join review on rt_num = re_rt_num
			left join image on re_num = im_where 
 			where rt_name like concat('%',#{cri.search},'%') or rt_address like concat('%',#{cri.search},'%')
			group by rt_num
			order by rt_score desc
 	</select>
 	<select id="selectFavorites" resultType="kr.green.matboda.vo.FavoritesVO">
 		select * from favorites where fa_me_id = #{me_id} and fa_rt_num = #{rt_num}
 	</select>
 	<insert id="insertFavorites">
 		insert into favorites(fa_rt_num, fa_me_id, fa_state)
 			values(#{rt_num}, #{me_id}, #{state})
 	</insert>
 	<update id="updateFavorites">
 		update favorites set fa_state = #{fvo.fa_state} 
 			where fa_me_id = #{fvo.fa_me_id} and fa_rt_num = #{fvo.fa_rt_num}
 	</update>
 	<select id="selectCaTop3Restaurant" resultType="kr.green.matboda.vo.RestaurantVO">
 		select restaurant.*, im_name as rt_im_name from restaurant
			left join review on rt_num = re_rt_num 
			left join (select * from image where im_type = 'REVIEW' group by im_where) as t on re_num = im_where
			where im_name is not null and rt_type = #{type}
			group by re_rt_num
			order by rt_reNum desc, rt_score desc, rt_view desc
			limit 3
 	</select>
 	<select id="selectFavoritesCount" resultType="int">
 		select count(*) from favorites where fa_rt_num = #{num} and fa_state = 1
 	</select>
</mapper>