<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.matboda.dao.RestaurantDAO">
 	<insert id="insertRt">
 		insert into restaurant(rt_name, rt_address, rt_phoneNum, rt_type, rt_openTime, rt_me_id)
 			values(#{rt_name}, #{rt_address}, #{rt_phoneNum}, #{rt_type}, #{rt_openTime}, #{rt_me_id})
 	</insert>
 	<select id="selectRt" resultType="kr.green.matboda.vo.RestaurantVO">
 		select * from restaurant 
 			where rt_num = #{num}
 	</select>
 	<update id="updateRt">
 		update restaurant set
 			rt_name = #{rt_name},
 			rt_address = #{rt_address},
 			rt_phoneNum =  #{rt_phoneNum},
 			rt_type = #{rt_type},
 			rt_openTime = #{rt_openTime},
 			rt_upDate = #{rt_upDate}
 			where rt_num = #{rt_num}
 	</update>
 	<select id="selectRestaurant" resultType="kr.green.matboda.vo.RestaurantVO">
 		select * from restaurant
 	</select>
	<delete id="deleteRt">
 		delete from restaurant
 			where rt_num = #{num}
 	</delete>
 	<update id="updateSc">
 		update restaurant set rt_score = (select round(avg(re_totalSc),1) from review where re_rt_num = rt_num) where rt_num = #{re_rt_num};
 	</update>
</mapper>