<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.matboda.dao.ReviewDAO">
	<insert id="insertReview">
		insert into review(re_me_id, re_rt_num, re_content, re_totalSc, re_service, re_mood, re_tasty, re_quantity, re_clean) 
			values(#{review.re_me_id}, #{review.re_rt_num}, #{review.re_content}, #{review.re_totalSc}, #{review.re_service}, #{review.re_mood}, #{review.re_tasty}, #{review.re_quantity}, #{review.re_clean})
	</insert>
</mapper>
